header {
    background-color: gray;
    /* color: aliceblue; */
}
    main {
background-color: green;
color: rgba(98, 5, 10, 0.79);

}
#tit{
 color: rgba(94, 13, 171, 0.584);  
}


.importent-places{

    color: rgba(207, 197, 197, 0.894);
}
    